<%= time_field_tag("issue[custom_field_values][#{custom_value.custom_field.id.to_s}]", custom_value.value.to_s, id: "issue_custom_field_values_#{custom_value.custom_field.id.to_s}", class: "form-control clockpicker") %>
<span class="input-group-addon">
    <span class="glyphicon glyphicon-time"></span>
</span>
<script type="text/javascript">
    $('.clockpicker').clockpicker({
        placement: 'top',
        align: 'left',
        donetext: '<%= t(:clockpicker_done_text) %>'
    });
</script>